html, body{
    width: 100%;
    height: 100%;
}

body{
    padding-top: 10%;
}

.albapost_wrapper{
    width: 40%;
    background-color: #a5a58d;
    margin-left: auto;
    margin-right: auto;
}

.albapost_form{
    display: flex;
    flex-direction: column;
}