.post_wrapper{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
}

.post_wrapper ul li{
    list-style: none;
}

.post_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}


.post_wage_value{
    font-weight: bold;
    color: #0984e3;
}
/* to make word go down https://stackoverflow.com/questions/25033382/text-goes-outside-containing-div/43736971 */
.post_title{
    font-weight: bold;
    font-size: 50px;
    color: #0984e3;
    width: 80%;
    word-wrap: break-word;
}

.post_wage{
    font-size: 20px;
}

.post_content{
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    word-wrap: break-word;
}

.post_list{
    font-size: 20px;
    font-weight: bold;
}

.apply_list{
    font-size: 20px;
    font-weight: normal;
}
